 body {
   background-image: url("background.PNG");
   background-attachment: scroll;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Georgia;
}


.footer
{
   background-color: #99ddff;
   position:fixed;
   bottom:0px;
   left:0px;
   right:0px;
   height:30px;  
    padding-top: 15px;
   margin-bottom:0px;
   display: flex;
   justify-content: flex-start;
  
 
}

div{
   text-indent: 50px;
}

a:link {
   text-decoration: none;
   color: white;
}

.button {
   border: none;
   color: white;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
}


input[type="text"] {
    width: 150px44
    display: block;
    margin-bottom: 10px;
}

#logo { 
    width: 70px; 
	height: 70px;
    float:left;
    clear: both;
}

.clear  { clear:both; }


.navigate {
	width:100%;
  text-align: center;
  padding: 4px;
  border-color: grey;
  background-color: grey;
  border-style: solid;
    border-width: 5px;
}

.navigate:hover {
  
}

a {
  text-decoration: none;
}

a.ContentButton {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
}

.login {
	width: 200px; 
	height: 160px;
  text-align: left;
  border-color: grey;
  background-color: grey;
  border-style: solid;
    border-width: 5px;
}
