 body {
   background-image: url("background.PNG");
   background-attachment: scroll;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Georgia;
}


.footer
{
   background-color: #99ddff;
   position:fixed;
   bottom:0px;
   left:0px;
   right:0px;
   height:45px;
   margin-bottom:0px;
   display: flex;
   justify-content: flex-start;
  
 
}

div{
   text-indent: 50px;
}

a:link {
   text-decoration: none;
   color: white;
}

.button {
   background-color: #4CAF50; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}
