 body {
   background-image: url("background.PNG");
   background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   font-family: Georgia;
}


.footer
{
    background-color: #cec5c3;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}

div{
    text-indent: 50px;
}
